<%- include('includes/start.ejs') %>

    <link rel="stylesheet" href="/main/admin.css">
</head>

<body>
    <%- include('includes/nav.ejs') %>

    <h1>Error Occured</h1>
    <p>We're working on the page please try later</p>

<%- include('includes/end.ejs') %>